html , body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #fff;
  overflow-x: hidden;
  line-height: 1;
  font-size: $font-size;
  display: flex;
  flex-direction: column;
}

header, footer {
  flex: 0 0 auto;
}

main{
  flex: 1 0 auto;
}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}
 
h1, h2, h3{
  font-size: 31px;
}

.container-xxl{
  @include xxl{
    max-width: 1380px
  }
}

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color{
  &-green{color: $color-green;}
  &-text{color: $color-text;}
  &-blue{color: $color-blue}
}

.border{
  &-bottom{border-bottom: 1px solid $border-color;}
  &-top{border-top: 1px solid $border-color;}
  &-left{border-left: 1px solid $border-color;}
  &-right{border-right: 1px solid $border-color;}
}

  
 
 