@font-face {
    font-family: "AvenirHeavy";
    src: url("../fonts/Avenir-Heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "AvenirMedium";
    src: url("../fonts/Avenir-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}