.form-select, .form-control{
    border: 1px solid $color-blue;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: $color-blue;
    text-transform: uppercase;
    font-size: $font-size-14;
    line-height: $font-size;
    padding: 16px 8px;
    position: relative;
    @include lg{
        padding: 15px 13px;
        font-size: $font-size;
        line-height: $font-size + 2px;
    }
    &:focus{
        box-shadow: none;
        outline: none;
    }
}
.form-select{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAuCAYAAACiR6CHAAABfElEQVRYhe3VsU7CQBzH8V+pNqGDjiTCExgTHTDuPoc+iIk+gEp5CZwdq8yaWBiJTjrqgAMmkhaE9s7ciY1S/g2hNcHk/01Y7nrth7ukxf7lm5RSYhl+BSxRjKFiDBVjqBhDxRgqxlAxhmqFGE9Lpsxlio+JKjMmkoDz+AGvFyXmqO56IZynEcTUgWfGdN4juA9DHN/04XbHifnp1DUntz7c+wCd/u8/kBmzs26iVLYgJVD3fFylgNRcvRVACug122tmvhgDQKNajEGO5+N6Bqj5OoajIJFEqbyKRtXWa3PFqEwD+uYxqD1Asxv+gISotQZfkIqFi6qt10y3yHtmZurm6iEHALrPI9TaAYw9W19a83wIdTQVS6MLMyDIE6MqTHboUIFeRjhvBfoVKSY70iB2JF6fGMlYfGQbFkQoIMR8EOS9M99p0K6NI9uANIDTzSJ5NH+OwQR0tlVMjKf177/ac2z4YvFXm4oxVIyhYgwVY6gYQ8UYquXBAPgEgezgYMGwPIsAAAAASUVORK5CYII=');
    background-size: 37px;
}
.form-label{
    text-transform: uppercase;
    font-size: 14px;
    @include lg{
        font-size: 16px;
    }
}  
.form-check{
    &.lg{
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
        @include lg{
            font-size: 20px;
            line-height: 34px;
        }
    }
    &.sm{
        font-size: 14px;
        line-height: 30px;
    }
}
.form-check-input{
    width: 20px;
    height: 20px;
    border-color: $color-blue;
    
    &[type="checkbox"]{
        border-radius: 0;
        &:checked{
            background-color: $color-blue;
            border-color: $color-blue;
        }
    }
    &[type="radio"]{
        &:checked{
            background-color: #fff;
            border-color: $color-blue;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%2342aeef'/%3e%3c/svg%3e");
            background-size: 14px;
        }
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}